body { background-color: #fafafa }

/************ Pagina principal ****************/

.contenedor {
	width: 67%;
	margin-top: 80px;
	padding: 0;
}

.btn { border-radius: 0px !important; }
.navbar-btn { margin-right: 10px; }
.navbar-btn:hover {	background-color : #3465a4 !important }
.a { margin-top: 8px }
.b { margin-top: 23px }
.navbar-brand{ color: red !important; font-weight: 600 }
#hora {	color: white; }
button.input-group-addon {  }

/************ Pagina del login ****************/
.login {
	width: 35%;
	height: 320px;
	margin: auto;
	position: absolute;
	top: 0; right: 0; bottom: 0; left: 0;
}
.login .panel-body { padding: 7px 15px 15px 15px; }
button.btn-block { margin-top: 10px }
.error { padding:5px }
